.DialogContent {
    display: flex;
    color: #172b4d;
    margin-bottom: 1em;
}

.IssueType {
    align-items: center;
    display: flex;
}

.Input {
    border: none;
    background-color: transparent;
    font-size: 16pt;
    width: 100%;
    height: 30px;
    color: #172b4d;
    resize: none;
    overflow: hidden;
}

.TextArea {
    border: none;
    background-color: transparent;
    font-size: 16pt;
    width: 100%;
    resize: none;
    color: #172b4d
}

.MultilineContent {
    display: flex;
    color: #172b4d
}