.Header {
    background-color: #026aa6;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.Header img {
    width: 80px;
    height: auto;
}